.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100px;
}

.avatar {
    border-radius: 50%;
}

.name {
    font-weight: bold;
}

.status {
    font-size: 14px;
}

.online {
    color: green;
}

.offline {
    color: red;
}